<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.irremote"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Consumer IR is optional -->
    <uses-feature android:name="android.hardware.consumer_ir" android:required="false"/>

    <application
        android:allowBackup="true"
        android:label="IR Remote"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name=".IRFinderActivity" />
        <activity android:name=".DeviceActivity" />
        <activity android:name=".DeviceListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
